MYSQL_DATABASE=ambar
MYSQL_USER=ambar
MYSQL_PASSWORD=CAMBIAR_mysql_ambar
MYSQL_ROOT_PASSWORD=CAMBIAR_mysql_root
REDIS_PASSWORD=CAMBIAR_redis
RABBITMQ_USER=ambar
RABBITMQ_PASSWORD=CAMBIAR_rabbitmq
MINIO_ROOT_USER=ambar
MINIO_ROOT_PASSWORD=CAMBIAR_minio_32_chars